<!DOCTYPE html>
<html>
  	<head>
    	<title>Pandango | Home</title>
    	<link rel='stylesheet' href='/stylesheets/forms.css' />
    	<link rel='stylesheet' href='/stylesheets/tabs.css' />
    	<link rel='stylesheet' href='/stylesheets/home.css' />
  	</head>
  	<body>

		<header>
			<span><a href="/home">Pandango</a></span>
			<nav>
				<ul>
					<!-- <li><a href="/charts">Charts</a></li> -->
					<li><a href="/profile"><%= user.name.split(' ')[0] %></a></li>
					<li><a href="/settings">Settings</a></li>
					<li><a href="/logout">Logout</a></li>
				</ul>
			</nav>
		</header>

		<section id="movie_search">
			<form id="movie_search_form">
				<select id="search_type">
					<option value="movies">Movies<!--  &#x25BE --></option>
					<option value="actors">Actors</option>
					<option value="year">Year</option>
				</select>
				<input id="search_bar" type="text" placeholder="Search for movies..."></input>
				<a href="/random"><img src="https://etyman.files.wordpress.com/2012/09/dice.png" /></a>
				<!-- <span class="button-red"><img src="https://etyman.files.wordpress.com/2012/09/dice.png"></img></span> -->
			</form>
			<div id="search_results">
				<!-- dhjgnk -->
				<div id="result_filters">
					
				</div>
			</div>
		</section>

		<section></section>

		<script src="http://code.jquery.com/jquery-2.2.0.min.js"></script>
		<script src="/js/api.js"></script>
		<script src="/js/home.js"></script>
  	</body>
</html>