<!DOCTYPE html>
<html>
  	<head>
    	<title>Pandango | Home</title>
    	<link rel='stylesheet' href='/stylesheets/forms.css' />
    	<link rel='stylesheet' href='/stylesheets/tabs.css' />
    	<link rel='stylesheet' href='/stylesheets/home.css' />
  	</head>
  	<body onload="load_top_lists()">

		<header>
			<span><a href="/home">Pandango</a></span>
			<nav>
				<ul>
					<!-- <li><a href="/charts">Charts</a></li> -->
					<li><a href="/profile"><%= user.name.split(' ')[0] %></a></li>
					<li><a href="/settings">Settings</a></li>
					<li><a href="/logout">Logout</a></li>
				</ul>
			</nav>
		</header>

		<section id="movie_search">
			<form id="movie_search_form">
				<select id="search_type">
					<option value="movies">Movies<!--  &#x25BE --></option>
					<option value="new releases">New Releases</option>
					<option value="new DVDs">New DVDs</option>
				</select>
				<input id="search_bar" type="text" placeholder="Search for movies..."></input>
				<a href="/random"><img src="https://etyman.files.wordpress.com/2012/09/dice.png" /></a>
			</form>
			<div id="search_results"></div>
		</section>

		<section id="top_charts">
			<div id="top_rated">
				<h2>Top Rated Movies</h2>
				<div id="top_rated_results" class="result-container"></div>
			</div>

			<div id="movies_by_major">
				<h2>Movies By Major</h2>
				<form id="movies_by_major_form">
					<select id="major_select">
						<option value="movies">Select Major</option>
						<option value="new releases">New Releases</option>
						<option value="new DVDs">New DVDs</option>
					</select>
				</form>
				<div id="movies_by_major_results" class="result-container"></div>
			</div>
		</section>

		<script src="http://code.jquery.com/jquery-2.2.0.min.js"></script>
		<script src="/js/api.js"></script>
		<script src="/js/home.js"></script>
		<script>
			function load_top_lists() {
				load_top_rated();
				load_by_major();
			}

			function load_top_rated() {
				content = "";
				$.get('/get_all_ratings', function(data) {
					data.sort(top_rated_comparator);
					for (var i = 0; i < 10; i++) {
						content += "<div>" + data[i].movie_name + "</div>";
					}
					$("div#top_rated_results").html(content);
				})
			}

			function load_by_major() {
				content = "";
				$.get('/get_all_ratings', function(data) {
					for (var i = 0; i < 10; i++) {
						if (data[i].major == $("select#major_select").val()) {
							content += "<div>" + data[i].movie_name + "</div>";
						}
					}
					$("div#movies_by_major_results").html(content);
				})
			}

			function top_rated_comparator(a,b) {
				return (b.rating * b.num_of_ratings) - (a.rating * a.num_of_ratings);
			}
		</script>
  	</body>
</html>