<!DOCTYPE html>
<html>
  	<head>
    	<title>Pandango | Settings</title>
    	<link rel='stylesheet' href='/stylesheets/forms.css' />
    	<link rel='stylesheet' href='/stylesheets/tabs.css' />
    	<link rel='stylesheet' href='/stylesheets/settings.css' />
    	<meta name="viewport" content="width=device-width, initial-scale=1">
  	</head>
  	<body>

		<header>
			<span><a href="/home">Pandango</a></span>
			<nav>
				<ul>
					<li><a href="/profile"><%= user.name.split(' ')[0] %></a></li>
					<li><a href="/settings" class="active-page">Settings</a></li>
					<li><a href="/logout">Logout</a></li>
				</ul>
			</nav>
		</header>

		<section id="settings" class="container">
			<div id="settings_container">
				<ul id="settings_tabs" class="tabs">
					<li class="tabs_active">General</li>
					<li>Password</li>
					<!-- <li>Privacy</li> -->
					<% if (user.userType == "admin") { %>
					<li>Admin</li>
					<% } %>
				</ul>
				<form id="settings_dropdown_form">
					<select id="settings_dropdown">
						<option value="general">General</option>
						<option value="password">Password</option>
						<!-- <option value="privacy">Privacy</option> -->
						<% if (user.userType == "admin") { %>
						<option value="admin">Admin</option>
						<% } %>
					</select>
				</form>

				<form id="general_settings">
					<p class="form-header">General settings.</p>
					
					<!-- <input type="password" name="old_password" value="" placeholder="Old Password"> -->
				</form>

				<form id="change_password" action="/change_password" method="POST" style="display: none;">
					<p class="form-error" id="sign_in_error">Old password is incorrect.</p>
					<p class="form-header">Please enter the following information to change your password.</p>
					
					<input type="password" name="old_password" value="" placeholder="Old Password">
					
					<input type="password" name="new_password" value="" placeholder="New Password">

					<input type="password" name="confirm_password" value="" placeholder="Confirm New Password">
					
					<button class="submit button-red" type="submit">Change Password</button>
				</form>

				<% if (user.userType == "admin") { %>
				<form id="admin_settings" style="display: none;">
					<input id="user_search" type="text" name="user_search" value="" placeholder="Search for user...">
					<div id="user_list"></div>
				</form>
				<% } %>
				
			</div>
		</section>

		<section></section>

		<script src="http://code.jquery.com/jquery-2.2.0.min.js"></script>
		<script src="/js/api.js"></script>
		<script src="/js/settings.js"></script>
  	</body>
</html>