@base: #000;
@secondary: #ededed;
@highlight: #ad252c;
@support: #facc66;

html, body {
  background: @base;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100%;
  
  * {
  	box-sizing: border-box;
  }
}

a {
  color: #00B7FF;
}